body{
  margin: 0;
  padding: 0;
    .container-shubham{
        margin:0;
        padding:0;
        position: relative;
        width: 1440px;
        // left:50%;
        // transform: translate(-50%);
         .box-blue{
            margin: 0;
            padding: 0;
            position: absolute;
            background: #434CCC;
            width:100%;
            height: 768px;
            flex-shrink: 0;
            left:50%;
            transform: translate(-50%);
            h5{
                margin: 0;
                position: absolute;
                left:658px;
                top:79px;
                right:658px;
                bottom:665px;
                width:124px;
                height:24px;
                color: var(--Text_White, #FFF);
                text-align: center;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                letter-spacing: 4.8px;
                text-transform: uppercase;
                left:50%;
                transform: translate(-50%);
            }
            h2{
                margin: 0;
                position: absolute;
                top:124px;
                left:506px;
                right:505px;
                bottom:580px;
                width:429px;
                height:64px;
                color: var(--Text_White, #FFF);
                text-align: center;
                /* H2 */
                font-family: "DM Serif Display";
                font-size: 56px;
                font-style: normal;
                font-weight: 400;
                line-height: 64px; /* 114.286% */ 
                left:50%;
                transform: translate(-50%);
            }
            p{
                margin: 0;
                position: absolute;
                top:217px;
                left:435px;
                right:435px;
                bottom:468px;
                width:570px;
                height: 83px;
                color: var(--Text_White, #FFF);
                text-align: center;
                font-family: "DM Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 160% */
                left:50%;
                transform: translate(-50%);
            }
        }
        // blue box end
        //  start img content
        .img1class{
            position: absolute;
            top:352px;
            left:135px;
            right:135px;
            width: 1170px;
            height: 512px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #F1B505;
            left:50%;
            transform: translate(-50%);
            img{
                position: absolute;
                left:225px;
            }
            p{
                margin: 0;
                position:absolute;
                top:111px;
                left:100px;
                width:78px;
                height: 24px;
                color: var(--text-white-50, rgba(255, 255, 255, 0.50));
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;  
            }
            h2{
               margin: 0;
                position: absolute;
                top:156px;
                left:100px;
                width:370px;
                height:128px;
                color: var(--Text_White, #FFF);
                font-family: "DM Serif Display";
                font-size: 56px;
                font-style: normal;
                font-weight: 400;
                line-height: 64px;
            }
            button{
                padding:13px 43.5px 11px 43.5px;
                position: absolute;
                top:320px;
                left:100px;
                width:170px;
                height:48px;
                flex-shrink:0;
                color: #FFF;
                text-align: center;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                background:#f1b505;
                border-radius: 5px;
                border: 1px solid rgba(255, 255, 255, 0.30);
            }
        }
        // end start img content
        .box-2-container{
            margin: 0;
            position: relative; //relative same works
            top:769px;
            width: 1440px;
            height: 1568px;
            flex-shrink: 0;
            left:50%;
            transform: translate(-50%);
            .img2class{
                position: absolute;
                top:128px;
                left:135px;
                width:570px;
                height:512px;
                flex-shrink: 0;
                border-radius: 5px;
                background-image: url("https://s3-alpha-sig.figma.com/img/8da9/4dad/a61136ce77656157b1b6e1e6936b1c64?Expires=1706486400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=EkafLWr3yIe6WNtHKAvEbBO55g5T3pihc-nhx8Fc5k2aaX4VJ8LKe9w0oF0kEDDAUnP5pcaTAaITrQDXMGw6Mk3SSXkzOjqlIkAmchsRd4t3LgM-wouAiYMN-W1NFAjbP~~lpqfEgkGsp9qfoOyiMBsF-9OuG6PRwfTjcsQvhqyagLIHySp9so-DLYFZ2ceiyZArRTkNMi2D3jqjr1hrrjvbX92kopRJ~18WfFzq0kg5aiQx5OQy0Vo5Ug1JEgwxreeslLKCn3Tijy70Q7TnmGfBT4tI61kFwHxt6PFIXnAILpCNZ0LZM-lJFGUbXb0O6nIurdEKR-lf-JpPtGbwFg__");
                background-position: left;
                background-size: cover;

                p{
                    margin:0;
                    position: absolute;
                    top:79px;
                    left:100px;
                    color: var(--text-white-50, rgba(255, 255, 255, 0.50));
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
                h4{
                    margin:0;
                    position: absolute;
                    top:120px;
                    left:100px;
                    width:161px;
                    height: 96px;
                     color: var(--Text_White, #FFF);
                     font-family: "DM Serif Display";
                     font-size: 24px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 32px;
                }
                button{
                    position: absolute;
                    top:240px;
                    left:100px;
                    width:48px;
                    height:48px;
                    padding:14px;
                    flex-shrink:0;
                    color:white;
                    background-color:#e94a47;
                    border-radius: 5px;
                    border: 2px solid rgba(255, 255, 255, 0.30);
                }
            }
            .img3class{
                position: absolute;
                top:128px;
                left:740px;
                width:570px;
                height:512px;
                flex-shrink: 0;
                border-radius: 5px;
                background-image: url("https://s3-alpha-sig.figma.com/img/4922/55ca/d1b4aab682804a4e2f0dd3310147b256?Expires=1706486400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NF-fWTAUqwBHqavPKtlLrMFx0xPp8ygghvNXmXq6nsOoRHveHOQgboMNSi7epEOc77-vrwq-lUn1k8u-9VD0zvqlybbfEm1lUIkRyRCuBX17yyuljK~Jk5rSbrIfL3c2mX2uIkalfBVFK9dE-~XLhwxgf3bT7kVWjRa4DpvA9L5KajhXyFljRocs8d-uc4wN~S5ThIX3dffDjQ6tZ3VgCR2MoCqgiATFypF2NFjYRwlO6beNNx9t2qT8bwohH4~P5xiKKs1qE4J4Nam1QKVZ8Irn~msuu538p3N0SrZYoDc-gTTuDk6Q9y7CZdcmJ2RS7j4Cp4jF9W6Df29bPYZtOQ__");
                background-position:left;
                background-size:cover;
                p{
                    margin:0;
                    position: absolute;
                    top:79px;
                    left:100px;
                    color: var(--text-white-50, rgba(255, 255, 255, 0.50));
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                }
                h4{
                    margin:0;
                    position: absolute;
                    top:120px;
                    left:100px;
                    width:147px;
                    height: 96px;
                     color: var(--Text_White, #FFF);
                     font-family: "DM Serif Display";
                     font-size: 24px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 32px;
                }
                button{
                    position: absolute;
                    top:240px;
                    left:100px;
                    width:48px;
                    height:48px;
                    padding:14px;
                    flex-shrink:0;
                    color:white;
                    background-color:#428dfc;
                    border-radius: 5px;
                    border: 2px solid rgba(255, 255, 255, 0.30);
                }
            }
           

        //end of 2 box content
        .allworkbtn{
            margin:0;
            position: absolute;
            top:688px;
            bottom:832px;
            left:635px;
            right:635px;
            width: 170px;
            height: 48px;
            flex-shrink: 0;
            color:#434CCC;
            border-radius: 5px;
            border: 1px solid var(--Primary_1, #434CCC);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        // end of aal works btn
        //start of last img content slide//
         .img4class{
            position: absolute;
            width:1094px;
            height: 729px;
            left:-163px;
            top:760px;
            bottom:79px;
            right:509px;
            background-image: url("https://s3-alpha-sig.figma.com/img/bd52/44af/0ad1fdc2d78f9b51d34d02e2322b719e?Expires=1706486400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jakIiUsmLsbLcNE5APwS2gTNurdclg~9sDRa9sGOYazmgW9od7aknZCYlfVSDLrWOSy6E4wrsun2pxMxNATbFMmSHlLzPJkpCgNudIn9frYgCJ7pG1mVA3vwgXZuzmPdvDbzvUwldBhEeAp3yOxBeamZpoZBKzhxX6UeoL4jhAkur-i7TD5Ss2RRbqjq~LO7a-vdRRO1xit-UO1ACutQWhTd7cGizI35HLYycodJPbvNSRJp8qQuDyVlDT4Du0c1pxtK88gP1Gv~-F4ffJFI7k1VbCu4xl7rTFQwy6wELlpLFbeea53IsnisW3-u1wALYQkJ7VxMU2o3oQOgHeAWVA__");
            background-position: center;
            background-size: cover;
        }
        h2{
            margin:0;
            position: absolute;
            top:924px;
            left:737px;
            right:252px;
            bottom:516px;
            width:453px;
            height: 128px;
           color: var(--Text_Black, #000);
           font-family: "DM Serif Display";
           font-size: 56px;
           font-style: normal;
           font-weight: 400;
           line-height: 64px;
        }
        p{
            margin:0;
            position: absolute;
            top:1079px;
            left:737px;
            right:135px;
            bottom:420px;
            width:570px;
            height:69px;
            color: var(--Text_Black, #000);
            flex-shrink: 0;
            font-family: "DM Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
        .clockimg{
            position: absolute;
            top:1200px;
            left:727px;
            right: 663px;
            bottom:328px;
            width: 50px;
            height: 40px;
            flex-shrink: 0;
        }
        .diamondimg{
            position: absolute;
            top:1200px;
            left:1035px;
            right: 367px;
            bottom:320px;
            width: 38px;
            height: 52px;
            flex-shrink: 0;
        }
        .h4class1{
            margin:0;
            position: absolute;
            top:1272px;
            left:737px;
            right:595px;
            bottom:264px;
            width:110px;
            height:32px;
            color: var(--Text_Black, #000);
            font-family: "DM Serif Display";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
        }
        .h4class2{
            margin:0;
            position: absolute;
            top:1272px;
            left:1035px;
            right:302px;
            bottom:264px;
            width:103px;
            height:32px;
            color: var(--Text_Black, #000);
            font-family: "DM Serif Display";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
        }
        .pclass1{
            position: absolute;
            top:1311px;
            left:737px;
            right:435px;
            bottom:206px;
            width: 270px;
            height: 51px;
            flex-shrink: 0;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
           font-family: "DM Sans";
           font-size: 16px;
           font-style: normal;
           font-weight: 400;
           line-height: 24px; /* 150% */
        }
        .pclass2{
            position: absolute;
            top:1311px;
            left:1035px;
            right:135px;
            bottom:206px;
            width: 270px;
            height: 51px;
            flex-shrink: 0;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
           font-family: "DM Sans";
           font-size: 16px;
           font-style: normal;
           font-weight: 400;
           line-height: 24px;
        }
     }
    }
      @media all and (max-width:375px){
        .container-shubham{
            margin: 0;
            padding: 0;
            position: relative;
            width:375px;
            // left:50%;
            // transform: translate(-50%);
        .box-blue{
            position: absolute;
            width: 100%;
            height: 768px;
            flex-shrink: 0;
            background: #434CCC;
            left:50%;
            transform: translate(-50%);
            h5{
                margin: 0;
                position: absolute;
                left:126px;
                top:63px;
                right:125px;
                bottom:681px;
                width:124px;
                height:24px;
                color: var(--Text_White, #FFF);
                text-align: center;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                letter-spacing: 4.8px;
                text-transform: uppercase;
                left:50%;
                transform: translate(-50%);
            }
            h2{
                margin: 0;
                position: absolute;
                top:106px;
                left:34px;
                right:34px;
                bottom:614px;
                width:307px;
                height:48px;
                color: var(--Text_White, #FFF);
                text-align: center;
                font-family: "DM Serif Display";
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
                left:50%;
                transform: translate(-50%);
            }
            p{
                margin: 0;
                position: absolute;
                top:185px;
                left:15px;
                right:14px;
                bottom:449px;
                width: 346px;
                height: 134px;
                flex-shrink: 0;
                color: var(--Text_White, #FFF);
                text-align: center;
                font-family: "DM Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                left:50%;
                transform: translate(-50%);
            }
        }//blue box
        .img1class{
            z-index:2;
            margin-top:281px;
            margin-left:14px;
            position: absolute;
            top:90px;
            //  left:-22px;
            width:347px;
            height:512px;
            flex-shrink: 0;
            border-radius: 5px;
            left:45%;
            transform: translate(-50%);
            background-image: url("./figmaImg/img1new.png");
            background-position: center;
            background-size: cover;
            img{
              display: none;
                position: absolute;  
            }
            p{
                margin: 0;
                position:absolute;
                top:44px;
                left:44px;
                width:78px;
                height: 24px;
                color: var(--text-white-50, rgba(255, 255, 255, 0.50));
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;  
            }
            h2{
               margin: 0;
                position: absolute;
                top:80px;
                left:44px;
                width:265px;
                height:96px;
                color: var(--Text_White, #FFF);
                font-family: "DM Serif Display";
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
            }
            button{
                padding:13px 43.5px 11px 43.5px;
                position: absolute;
                top:200px;
                left:44px;
                width:170px;
                height:48px;
                flex-shrink:0;
                color: #FFF;
                text-align: center;
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                background:#f1b505;
                border-radius: 5px;
                border: 1px solid rgba(255, 255, 255, 0.30);
            }
        }
        // end start img content
        .box-2-container{
            position: absolute; 
            top:769px;
            width: 375px;
            height: 2480px;
            flex-shrink: 0;
            .img2class{
                position: absolute;
                top:128px;
                left:135px;
                width:346px;
                height:512px;
                flex-shrink: 0;
                border-radius: 5px;
                left:14px;
                right:15px;
                background-image: url("https://s3-alpha-sig.figma.com/img/8da9/4dad/a61136ce77656157b1b6e1e6936b1c64?Expires=1706486400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=EkafLWr3yIe6WNtHKAvEbBO55g5T3pihc-nhx8Fc5k2aaX4VJ8LKe9w0oF0kEDDAUnP5pcaTAaITrQDXMGw6Mk3SSXkzOjqlIkAmchsRd4t3LgM-wouAiYMN-W1NFAjbP~~lpqfEgkGsp9qfoOyiMBsF-9OuG6PRwfTjcsQvhqyagLIHySp9so-DLYFZ2ceiyZArRTkNMi2D3jqjr1hrrjvbX92kopRJ~18WfFzq0kg5aiQx5OQy0Vo5Ug1JEgwxreeslLKCn3Tijy70Q7TnmGfBT4tI61kFwHxt6PFIXnAILpCNZ0LZM-lJFGUbXb0O6nIurdEKR-lf-JpPtGbwFg__");
                background-position: 650px;
                 background-position-y: 40px;
                   background-repeat: repeat-x;
                p{
                    margin:0;
                    position: absolute;
                    top:79px;
                    left:40px;
                    color: var(--text-white-50, rgba(255, 255, 255, 0.50));
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
                h4{
                    margin:0;
                    position: absolute;
                    top:120px;
                    left:40px;
                    width:161px;
                    height: 96px;
                     color: var(--Text_White, #FFF);
                     font-family: "DM Serif Display";
                     font-size: 24px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 32px;
                }
                button{
                    position: absolute;
                    top:240px;
                    left:40px;
                    width:48px;
                    height:48px;
                    padding:14px;
                    flex-shrink:0;
                    color:white;
                    background-color:#e94a47;
                    border-radius: 5px;
                    border: 2px solid rgba(255, 255, 255, 0.30);
                }
            }
            .img3class{
                position: absolute;
                top:650px;
                left:14px;
                right:15px;
                width:346px;
                height:512px;
                flex-shrink: 0;
                border-radius: 5px;
                background-image: url("https://s3-alpha-sig.figma.com/img/4922/55ca/d1b4aab682804a4e2f0dd3310147b256?Expires=1706486400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NF-fWTAUqwBHqavPKtlLrMFx0xPp8ygghvNXmXq6nsOoRHveHOQgboMNSi7epEOc77-vrwq-lUn1k8u-9VD0zvqlybbfEm1lUIkRyRCuBX17yyuljK~Jk5rSbrIfL3c2mX2uIkalfBVFK9dE-~XLhwxgf3bT7kVWjRa4DpvA9L5KajhXyFljRocs8d-uc4wN~S5ThIX3dffDjQ6tZ3VgCR2MoCqgiATFypF2NFjYRwlO6beNNx9t2qT8bwohH4~P5xiKKs1qE4J4Nam1QKVZ8Irn~msuu538p3N0SrZYoDc-gTTuDk6Q9y7CZdcmJ2RS7j4Cp4jF9W6Df29bPYZtOQ__");
                background-position: 650px;
                background-position-y: 40px;
                  background-repeat: repeat-x;
                p{
                    margin:0;
                    position: absolute;
                    top:79px;
                    left:44px;
                    color: var(--text-white-50, rgba(255, 255, 255, 0.50));
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                }
                h4{
                    margin:0;
                    position: absolute;
                    top:120px;
                    left:44px;
                    width:147px;
                    height: 96px;
                     color: var(--Text_White, #FFF);
                     font-family: "DM Serif Display";
                     font-size: 24px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 32px;
                }
                button{
                    position: absolute;
                    top:240px;
                    left:44px;
                    width:48px;
                    height:48px;
                    padding:14px;
                    flex-shrink:0;
                    color:white;
                    background-color:#428dfc;
                    border-radius: 5px;
                    border: 2px solid rgba(255, 255, 255, 0.30);
                }
            }
        //end of 2 box content
        .allworkbtn{
            margin:0;
            position: absolute;
            top:1200px;
            left:103px;
            width: 170px;
            height: 48px;
            flex-shrink: 0;
            color:#434CCC;
            border-radius: 5px;
            border: 1px solid var(--Primary_1, #434CCC);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        // // end of aal works btn
        // //start of last img content slide//
         .img4class{
            position: absolute;
            width:300px;
            height:500px;
            left:14px;
            top:1230px;
            background-image: url("https://s3-alpha-sig.figma.com/img/bd52/44af/0ad1fdc2d78f9b51d34d02e2322b719e?Expires=1706486400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jakIiUsmLsbLcNE5APwS2gTNurdclg~9sDRa9sGOYazmgW9od7aknZCYlfVSDLrWOSy6E4wrsun2pxMxNATbFMmSHlLzPJkpCgNudIn9frYgCJ7pG1mVA3vwgXZuzmPdvDbzvUwldBhEeAp3yOxBeamZpoZBKzhxX6UeoL4jhAkur-i7TD5Ss2RRbqjq~LO7a-vdRRO1xit-UO1ACutQWhTd7cGizI35HLYycodJPbvNSRJp8qQuDyVlDT4Du0c1pxtK88gP1Gv~-F4ffJFI7k1VbCu4xl7rTFQwy6wELlpLFbeea53IsnisW3-u1wALYQkJ7VxMU2o3oQOgHeAWVA__");
            background-position: center;
            background-size: cover;
        }
        h2{
            margin:0;
            position: absolute;
            top:1786px;
            left:12px;
            width:323px;
            height:96px;
           color: var(--Text_Black, #000);
           font-family: "DM Serif Display";
           font-size: 40px;
           font-style: normal;
           font-weight: 400;
           line-height: 48px;
        }
        p{
            margin:0;
            position: absolute;
            top:1913px;
            left:14px;
            width:346px;
            height:105px;
            color: var(--Text_Black, #000);
            flex-shrink: 0;
            font-family: "DM Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
        .clockimg{
            position: absolute;
            top:2064px;
            left:14px;
            right: 663px;
            bottom:328px;
            width: 50px;
            height: 40px;
            flex-shrink: 0;
        }
        .diamondimg{
            position: absolute;
            top:2252px;
            left:14px;
            width: 38px;
            height: 52px;
            flex-shrink: 0;
        }
        .h4class1{
            margin:0;
            position: absolute;
            top:2120px;
            left:14px;
            width:110px;
            height:32px;
            color: var(--Text_Black, #000);
            font-family: "DM Serif Display";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
        }
        .h4class2{
            margin:0;
            position: absolute;
            top:2328px;
            left:14px;
            width:103px;
            height:32px;
            color: var(--Text_Black, #000);
            font-family: "DM Serif Display";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
        }
        .pclass1{
            position: absolute;
            top:2175px;
            left:14px;
            right:15px;
            width: 346px;
            height: 51px;
            flex-shrink: 0;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
           font-family: "DM Sans";
           font-size: 16px;
           font-style: normal;
           font-weight: 400;
           line-height: 24px; /* 150% */
        }
        .pclass2{
            position: absolute;
            top:2367px;
            left:14px;
            right:15px;
            width:346px;
            height: 51px;
            flex-shrink: 0;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
           font-family: "DM Sans";
           font-size: 16px;
           font-style: normal;
           font-weight: 400;
           line-height: 24px;
        }
     }
 }
      //media responsive;
    } 
  }
