// Paketi Pavani ft30_271
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.blue {
    width: 1440px;
    height: 496px;
    //flex-shrink: 0;
    position: relative;
    background: rgb(67, 76, 204);

    >div:nth-child(1) {
        //display: flex;
        //align-items: center;
        //justify-content: center;
        color: white;
        position: absolute;
        width: 48px;
        height: 48px;
        //flex-shrink: 0;
        margin: 192px 1257px 256px 135px;
        //margin: 206px 1275px 269px 152px;
        border: 1px solid white;
        //padding-bottom: 16px;
        padding: 14px 18px 13px 17px;
        box-sizing: border-box;

        img {
            width: 100%;

            // background-position: center;
            //background-size: cover;
        }
    }

    >div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        width: 48px;
        height: 48px;
        //flex-shrink: 0;
        //margin: 192px 1257px 256px 135px;
        //margin: 206px 1275px 269px 152px;
        margin: 256px 1257px 192px 135px;
        border: 1px solid white;
        //padding-top: 16px;

    }

    >div:nth-child(3) {
        //background: red;
        position: absolute;
        margin: 127px 652px 354px 635px;
        width: 153px;
        height: 24px;

        h5 {
            //width: 153px;
            //height: 24px;
            margin: 0;
            color: var(--Text_White, #FFF);

            /* H5 */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }
    }

    >div:nth-child(4) {
        position: absolute;
        margin: 184px 135px 205px 635px;
        width: 670px;
        height: 107px;

        h4 {
            margin: 0;
            //width: 670px;
            //height: 107px;
            color: var(--Text_White, #FFF);

            /* H4 */
            font-family: "DM Serif Display";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 133.333% */
        }
    }

    >div:nth-child(5) {
        margin: 313px 680px 181px 635px;
        position: absolute;
        width: 125px;
        height: 32px;

        p {
            width: 125px;
            height: 32px;
            margin: 0;
            color: var(--Text_White, #FFF);

            /* Text_Big */
            font-family: "DM Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 160% */
        }
    }

    >div:nth-child(6) {
        position: absolute;
        margin: 351px 752px 121px 635px;
        width: 53px;
        height: 24px;

        p {
            margin: 0;
            width: 53px;
            height: 24px;
            color: var(--text-white-50, rgba(255, 255, 255, 0.50));

            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }
    }

    >div:nth-child(7) {
        //height: 300px;
        //width:300px;
        position: absolute;
        margin: 127px 0px 0px 300px;

        //border-radius: 50%;
        img {
            border-radius: 50%;

        }
    }

}

.div2 {
    width: 1440px;
    height: 1904px;
    background-color: rgb(245, 246, 253);
    //background-color: blue;
    position: relative;

    >div:nth-of-type(1) {
        position: absolute;
        width: 123px;
        height: 24px;
        margin: 79px 657px 1801px 660px;
        color: var(--Text_Black, #000);
        text-align: center;

        p {
            margin: 0;
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }
    }

    >div:nth-of-type(2) {
        width: 329px;
        height: 64px;
        margin: 124px 555px 1716px 556px;
        position: absolute;
        color: var(--Text_Black, #000);
        text-align: center;

        p {
            margin: 0;
            font-family: "DM Serif Display";
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
        }
    }

    >div:nth-of-type(3) {
        width: 570px;
        height: 83px;
        margin: 217px 435px 1604px 435px;
        position: absolute;
        color: var(--Text_Black, #000);
        text-align: center;
        // background-color: red;


        p {
            padding: 2px 30px 10px 30px;
            margin: 0;
            font-family: "DM Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
    }

    >div:nth-of-type(4) {
        width: 172px;
        height: 35px;
        margin: 357px 1132px 1512px 132px;
        position: absolute;

        img {
            width: 100%;
        }
    }

    >div:nth-of-type(5) {
        width: 164px;
        height: 54px;
        margin: 352px 935px 1498px 341px;
        position: absolute;

        img {
            width: 100%;
        }
    }

    >div:nth-of-type(6) {
        width: 368px;
        height: 53px;
        margin: 353px 536px 1496px 536px;
        position: absolute;

        img {
            width: 100%;
        }
    }

    >div:nth-of-type(7) {
        width: 164px;
        height: 54px;
        margin: 355px 331px 1496px 936px;
        position: absolute;

        img {
            width: 100%;
        }
    }

    >div:nth-of-type(8) {
        width: 173px;
        height: 53px;
        margin: 357px 136px 1494px 1136px;
        position: absolute;

        img {
            width: 100%;
        }
    }

    >div:nth-of-type(9) {
        width: 170px;
        height: 48px;
        margin: 480px 635px 1376px 635px;
        position: absolute;

        .contact {
            margin: 0;
            border-radius: 5px;
            border: 1px solid var(--Primary_1, #434CCC);
            opacity: 0.32;
            padding: 13px 42.5px 11px 41.5px;
            color: #434CCC;
            text-align: center;
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            border: 1px solid rgb(67, 76, 204);
            /* 150% */
        }

    }



    >div:nth-of-type(10) {

        position: absolute;
        margin: 687px 1227px 1193px 135px;
        width: 78px;
        height: 24px;
        color: var(--Text_Black, #000);

        p {
            margin: 0;
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }
    }

    >div:nth-of-type(11) {

        position: absolute;
        margin: 732px 909px 1108px 135px;
        width: 396px;
        height: 64px;
        color: var(--Text_Black, #000);

        p {
            margin: 0;
            font-family: "DM Serif Display";
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
            /* 114.286% */
        }
    }

    >div:nth-of-type(12) {

        position: absolute;
        margin: 736px 135px 1120px 1135px;
        width: 170px;
        height: 48px;

        button {
            margin: 0;
            //margin: 736px 135px 1120px 1135px;
            color: #434CCC;

            text-align: center;
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            padding: 13px 54.5px 11px 54.5px;
            border: 1px solid rgb(67, 76, 204);
        }
    }

    >div:nth-child(14) {
        position: absolute;
        margin: 832px 735px 592px 135px;
        width: 570px;
        height: 480px;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);

    }

    >div:nth-child(15) {
        position: absolute;
        margin: 850px 761px 740px 160px;

        img {
            width: 100%;
        }
    }

    >div:nth-child(16) {
        position: absolute;
        margin: 1151px 1180px 729px 167px;
        width: 93px;
        height: 24px;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));

        p {
            margin: 0;
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    >div:nth-child(17) {
        position: absolute;
        width: 320px;
        height: 32px;
        margin: 1190px 953px 680px 167px;
        color: var(--Text_Black, #000);

        p {
            margin: 0;
            font-family: "DM Serif Display";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
    }

    >div:nth-child(18) {
        position: absolute;
        width: 538px;
        height: 1px;
        margin: 1248px 735px 655px 167px;
        opacity: 0.1011;
        background: #000;

    }

    >div:nth-child(19) {
        position: absolute;
        width: 88px;
        height: 24px;
        margin: 1267px 1185px 613px 167px;
        color: var(--Text_Black, #000);

        p {
            margin: 0;
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        }
    }

    >div:nth-child(20) {
        position: absolute;
        margin: 1270px 1172px 619px 257px;
        width: 6px;
        height: 11px;
    }

    >div:nth-child(21) {
        position: absolute;
        margin: 832px 135px 592px 735px;
        width: 570px;
        height: 480px;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
    }

    >div:nth-child(22) {
        position: absolute;
        margin: 850px 119px 748px 770px;

        img {
            width: 100%;
        }
    }

    >div:nth-child(23) {
        position: absolute;
        margin: 1151px 610px 729px 767px;
        width: 63px;
        height: 24px;

        p {
            margin: 0;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));

            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }
    }

    >div:nth-child(24) {
        position: absolute;
        margin: 1192px 368px 680px 767px;
        width: 305px;
        height: 32px;

        p {
            margin: 0;
            color: var(--Text_Black, #000);

            /* H4 */
            font-family: "DM Serif Display";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 133.333% */
        }
    }

    >div:nth-child(25) {
        position: absolute;
        width: 538px;
        height: 1px;
        margin: 1248px 135px 655px 767px;
        opacity: 0.1011;
        background: #000;

    }

    >div:nth-child(26) {
        position: absolute;
        margin: 1267px 585px 613px 767px;
        width: 88px;
        height: 24px;

        p {
            margin: 0;
            color: var(--Text_Black, #000);

            /* Text */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
        }
    }

    >div:nth-child(27) {
        position: absolute;
        width: 6px;
        height: 11px;
        margin: 1270px 572px 619px 862px;
    }

    // hr {
    //     width: 1440px;
    //     height: 1px;
    //     opacity: 0.0974;
    //     background: #000;
    //     margin: 1408px 0px 495px 0px;
    // }
    >div:nth-child(28) {
        position: absolute;
        width: 92px;
        height: 24px;
        margin: 1535px 1213px 345px 135px;

        p {
            margin: 0;
            color: var(--Text_Black, #000);

            /* H5 */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }
    }

    >div:nth-child(29) {
        position: absolute;
        width: 275px;
        height: 96px;
        margin: 1592px 1030px 216px 135px;

        p {
            margin: 0;
            color: var(--Text_Black, #000);

            /* H4 */
            font-family: "DM Serif Display";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            /* 133.333% */
        }
    }

    >div:nth-child(30) {
        position: absolute;
        width: 48px;
        height: 48px;
        margin: 1728px 1272px 143px 135px;
        //border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #434CCC;

        img {
            //padding: 15px;
            width: 18px;
            height: 18px;
            //width: 100%;
        }
    }

    >div:nth-child(31) {
        position: absolute;
        width: 114px;
        height: 24px;
        margin: 1740px 1129px 140px 197px;

        p {
            margin: 0;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));

            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }
    }

    >div:nth-child(32) {
        position: absolute;
        margin-top: 1408px;
        width: 1440px;
        height: 1px;
        opacity: 0.0974;
        background: #000;
    }
    >div:nth-child(33) {
        position: absolute;
        margin-top: 624px;
        width: 1440px;
        height: 1px;
        opacity: 0.0974;
        background: #000;
    }

    .orange {
        position: absolute;
        //margin:1535px 370px 
        margin-top: 1535px;
        margin-left: 430px;
        margin-bottom: 120px;
        width: 272px;
        height: 272px;
        flex-shrink: 0;
        background-image: url(./pavani/oranges.png);
        //background: url(./oranges.png), lightgray 0px 0px / 100% 100% no-repeat;
        background-position: center;
        background-size: contain;
    }

    .hand {
        position: absolute;
        margin-top: 1535px;
        margin-left: 728px;
        width: 272px;
        height: 272px;
        flex-shrink: 0;
        background-image: url(./pavani/hand.png);
        background-position: center;
        background-size: contain;
    }

    .shirt {
        position: absolute;
        margin-top: 1535px;
        margin-left: 1026px;
        //margin-right: ;
        width: 272px;
        height: 272px;
        flex-shrink: 0;
        background-image: url(./pavani/shirt.png);
        background-position: center;
        background-size: contain;
    }
}


@media all and (max-width:375px) {
    .blue {

        width: 375px;
        height: 848px;

        >div:nth-child(1) {
            margin: 160px 313px 640px 14px;


        }

        >div:nth-child(2) {
            margin: 224px 313px 576px 14px;
        }

        >div:nth-child(3) {
            margin: 383px 149px 414px 73px;
            width: 145px;
            height: 24px;

        }

        >div:nth-child(4) {
            width: 287px;
            height: 264px;
            margin: 440px 15px 144px 73px;
        }

        >div:nth-child(5) {
            margin: 729px 177px 87px 73px;
        }

        >div:nth-child(6) {
            margin: 767px 249px 57px 73px;
        }

        >div:nth-child(7) {
            //height: 300px;
            //width:300px;
            margin: 80px 20px 330px 80px;

            img {
                width: 250px;
                height: 250px;
            }
        }
    }

    // .div2 {
    //     width: 375px;
    //     height: 4377px;

    //     .div21 {
    //         height: 944px;
    //         width: 100%;

    //         h5 {
    //             padding-top: 63px;
    //             width: 123px;
    //             height: 24px;
    //         }

    //         h4 {
    //             padding-top: 19px;
    //             line-height: 48px;

    //         }

    //         >div {
    //             width: 346px;
    //             height: 104px;
    //             padding-top: 40px;

    //             p {
    //                 width: 346px;
    //                 height: 104px;
    //             }
    //         }


    //         .div211 {

    //             //margin: 341px 14px 66px 14px;
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;

    //             //gap: 33px;
    //             >div:nth-child(1) {
    //                 //padding-top: 33px;
    //                 margin-top: 55px;

    //                 //     
    //                 //margin:341px 101px 536px 102px
    //                 //margin-bottom: 33px;
    //                 img {

    //                     width: 172px;
    //                     height: 35px;
    //                 }
    //             }

    //             >div:nth-child(2) {
    //                 //margin-bottom: 33px;
    //                 // margin-top: 33px;
    //                 padding-top: 33px;

    //                 img {
    //                     width: 164px;
    //                     height: 54px;
    //                 }
    //             }

    //             >div:nth-child(3) {
    //                 //margin-bottom: 33px;
    //                 padding-top: 33px;

    //                 img {
    //                     width: 347px;
    //                     height: 50px;
    //                 }
    //             }

    //             >div:nth-child(4) {
    //                 //margin-bottom: 33px;
    //                 padding-top: 33px;

    //                 img {
    //                     width: 173px;
    //                     height: 53px;
    //                 }
    //             }

    //             >div:nth-child(5) {
    //                 //margin-bottom: 33px;
    //                 padding-top: 33px;

    //                 img {
    //                     width: 168px;
    //                     height: 53px;
    //                 }
    //             }

    //             // }
    //         }
    //     }

    //     .contact {
    //         margin: 784px 102px 80px 103px;
    //     }
    // }
    .div2{
        width:375px;
        height: 3792px;
        >div:nth-of-type(1) {
            margin:63px 125px 3705px 127px;
            
        }
        >div:nth-of-type(2) {
            width:235px;
            height: 48px;
            margin: 106px 70px 3628px 70px;
            p{
                font-size: 40px;
                line-height: 48px;
            }
        }
        >div:nth-of-type(3) {
            width:346px;
            height: 104px;
            margin: 185px 15px 3508px 14px;
            
        }
        >div:nth-of-type(4) {
            margin:341px 101px 3416px 102px;
        }
        >div:nth-of-type(5) {
            margin: 409px 105px 3329px 106px;
        }
        >div:nth-of-type(6) {
            margin:496px 14px 3246px 14px;
            width:347px;
            height: 50px;
        }
        >div:nth-of-type(7) {
            margin:576px 101px 3160px 101px;
        }
        >div:nth-of-type(8) {
            margin:665px 103px 3074px 104px;
        }
        >div:nth-of-type(9) {
            //width:86px;
            //height: 24px;
            margin:784px 102px 2960px 103px;
        }
        >div:nth-of-type(10) {
            margin:959px 283px 2809px 14px;

        }
        >div:nth-of-type(11) {
            width:283px;
            height:48px;
            margin:1002px 78px 2742px 14px;
            p{
                font-size: 40px; 
                line-height: 48px; 
            }
        }
        >div:nth-of-type(12) {
            margin:2176px 102px 1568px 103px;
        }
        >div:nth-child(14) {
            width:346px;
            height: 512px;
            margin:1088px 15px 2192px 14px;
        }
        >div:nth-child(15) {
            margin: 1120px 47px 2200px 47px;
            img{
                height: 275px;
            }
        }
        >div:nth-child(16) {
            margin:1407px 236px 2361px 46px;
        }
        >div:nth-child(17) {
            width:225px;
            height: 64px;
            margin:1448px 104px 2280px 46px;
        }
        >div:nth-child(18) {
            width:314px;
            margin:1536px 15px 2255px 46px;
        }
        >div:nth-child(19) {
            margin:1555px 241px 2213px 46px;
        }
        >div:nth-child(20) {
            margin:1560px 228px 2219px 141px;
        }
        >div:nth-child(21) {
            width:346px;
            height: 512px;
            margin:1616px 15px 1664px 14px;
        }
        >div:nth-child(22) {
            margin: 1648px 47px 208px 47px;
            img{
                height: 275px;
            }
        }
        >div:nth-child(23) {
            margin:1935px 266px 1833px 46px;
        }
        >div:nth-child(24) {
            width: 240px;
            height: 64px;
            margin:1976px 89px 1752px 46px;
        }
        >div:nth-child(25) {
            width: 314px;
            margin:2064px 15px 1727px 46px;
        }
        >div:nth-child(26) {
            margin: 2083px 241px 1685px 46px;
        }
        >div:nth-child(27) {
            margin: 2089px 228px 1691px 141px;
        }
        >div:nth-child(32){
            width:375px;
            margin: 2272px 0px 1519px 0px;
        }
        >div:nth-child(33) {
            width:375px;
            margin: 912px 0px 2879px 0px;
        }
        >div:nth-child(28) {
            margin:2335px 269px 1433px 14px;
        }
        >div:nth-child(29) {
            margin:2392px 86px 1304px 14px;
        }
        >div:nth-child(30) {
            margin:2543px 328px 1231px 29px;
        }
        >div:nth-child(31) {
            margin:2552px 185px 1228px 90px;
        }
        .orange{
            margin:2620px 15px 1136px 14px;
            width:345px;
            height: 345px;
        }
        .hand{
           margin:2985px 15px 771px 14px;
           width:345px;
           height: 345px;
        }
        .shirt{
            margin:3350px 15px 406px 14px;
            width:345px;
            height: 345px;
        }
    }
}