body {
  margin: 0;
  padding: 0;
}

#top {
  width: 1440px;
  height: 768px;
  flex-shrink: 0;
  background: #434ccc;
  position: relative;
  box-sizing: border-box;
}
#top #logo {
  position: absolute;
  margin: 16px 1203px 704px 135px;
  width: 109px;
  height: 48px;
  box-sizing: border-box;
}
#top #logo h3 {
  color: var(--Text_White, #fff);
  padding: 0px;
  font-family: "DM Serif Display";
  font-size: 40px;
  font-style: normal;
  margin: 0;
  font-weight: 400;
  line-height: normal;
}
#top > div:nth-child(2) {
  position: absolute;
  margin: 28px 345px 716px 771px;
  width: 324px;
  height: 24px;
  color: var(--Text_White, #fff);
  display: flex;
  justify-content: space-between;
}
#top > div:nth-child(2) a {
  font-family: "DM Sans";
  font-size: 16px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: white;
}
#top #sign-up {
  position: absolute;
  margin: 16px 135px 704px 1135px;
  width: 170px;
  height: 48px;
  padding: 13px 56.5px 13px 56.5px;
  background: #434ccc;
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border: 1px solid #7b82db;
  border-radius: 7px;
}
#top > div:nth-of-type(3) {
  position: absolute;
  width: 126px;
  height: 24px;
  color: var(--Text_White, #fff);
  margin: 175px 1179px 569px 135px;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
#top > div:nth-of-type(4) {
  position: absolute;
  margin: 223px 790px 385px 139px;
  height: 160px;
  width: 515px;
}
#top > div:nth-of-type(4) h1 {
  color: var(--Text_White, #fff);
  font-family: "DM Serif Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  margin: 0;
}
#top > div:nth-of-type(5) {
  height: 72px;
  width: 370px;
  margin: 415px 935px 281px 135px;
  color: var(--Text_White, #fff);
  position: absolute;
}
#top > div:nth-of-type(5) h5 {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
#top #explore {
  width: 170px;
  position: absolute;
  height: 48px;
  flex-shrink: 0;
  background: #f1b505;
  margin: 528px 1135px 192px 132px;
  padding: 13px 55.5px 11px 55.5px;
  border-radius: 7px;
  border: none;
}
#top #explore h4 {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}
#top > div:nth-of-type(6) {
  width: 1074px;
  height: 716px;
  flex-shrink: 0;
  background-image: url(topimage/clip-1.png);
  margin: 48px -81px 4px 447px;
  position: absolute;
}

#midyellow {
  width: 1440px;
  height: 768px;
  flex-shrink: 0;
  background: #ffdd78;
  position: relative;
}
#midyellow > div:nth-of-type(1) {
  width: 469px;
  height: 64px;
  margin: 60px 485px 644px 486px;
  color: var(--Text_Black, #000);
  text-align: center;
  position: absolute;
}
#midyellow > div:nth-of-type(1) h2 {
  margin: 0;
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
}
#midyellow > div:nth-of-type(2) {
  width: 570px;
  height: 83px;
  margin: 135px 435px 532px 432px;
  color: var(--Text_Black, #000);
  position: absolute;
  text-align: center;
}
#midyellow > div:nth-of-type(2) h3 {
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
#midyellow > div:nth-of-type(3) {
  width: 370px;
  height: 416px;
  margin: 272px 935px 80px 135px;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(1) {
  position: absolute;
  width: 132px;
  height: 114px;
  margin: 64px 119px 238px 119px;
  fill: linear-gradient(225deg, #ffc105 0%, #737cff 100%);
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(1) img {
  width: 100%;
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(2) {
  width: 162px;
  height: 32px;
  position: absolute;
  margin: 232px 178px 152px 30px;
  color: var(--Text_Black, #000);
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(2) h4 {
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  margin: 0;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(3) {
  width: 306px;
  height: 48px;
  flex-shrink: 0;
  position: absolute;
  margin: 279px 32px 89px 32px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(3) h5 {
  margin: 0px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#midyellow > div:nth-of-type(3) hr {
  width: 338px;
  height: 1px;
  flex-shrink: 0;
  margin: 352px 0px 63px 32px;
  position: absolute;
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(4) {
  width: 88px;
  height: 24px;
  position: absolute;
  margin: 371px 250px 21px 32px;
  color: var(--Text_Black, #000);
  box-sizing: border-box;
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(4) h4 {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(5) {
  width: 6px;
  height: 11px;
  margin: 375px 237px 27px 124px;
  position: absolute;
}
#midyellow > div:nth-of-type(3) > div:nth-of-type(5) img {
  margin: 0x;
  width: 80%;
}
#midyellow > div:nth-of-type(4) {
  width: 370px;
  height: 416px;
  position: absolute;
  margin: 272px 535px 85px 535px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#midyellow > div:nth-of-type(4) > div:nth-of-type(1) {
  width: 186px;
  height: 96px;
  margin: 73px 100px 247px 84px;
  position: absolute;
}/*# sourceMappingURL=style.css.map */