#yellowBottom {
    width: 1440px;
    height: 656px;
    background: #FFDD78;
    position: relative;
    >div:nth-child(1) {
        position: absolute;
        margin: 127px 1176px 505px 135px;
        h5{color: var(--Text_Black, #000);
        /* H5 */
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin: 0;
    }
    }
    >div:nth-child(2) {
        position: absolute;
        margin: 172px 886px 356px 135px;
        h3{color: var(--Text_Black, #000);
        /* H2 */
        font-family: "DM Serif Display";
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px; /* 114.286% */
        margin: 0;
    }
    }
    >div:nth-child(3) {
        position: absolute;
        margin: 329px 835px 224px 135px;
        p{color: var(--Text_Black, #000);
        /* Text_Big */
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        margin: 0;}
    }
    >div:nth-child(4) {
        position:absolute;
        margin: 436px 1035px 144px 135px;
        >input{
            margin-top: 28px;
            height: 48px;
            width: 270px;
        }
        >input::placeholder {
            padding-left: 10px;
            margin: 0;
        }
    }
    >div:nth-child(5) {
        position: absolute;
        margin: 464px 835px 144px 435px;
        width: 170px;
        height: 48px;
        border-radius: 5px;
        background-color: #444CCC;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        >h3{color: #FFF;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        }
    }
    >div:nth-child(6) {
        position: absolute;
        margin: 21px -10px 45px 565px;
        width: 885px;
        height: 590px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bottomBlue{
    width: 1440px;
    height: 656px;
    position: relative;
    background: #434CCC;
    >div:nth-child(1){
        position: absolute;
        margin: 292px 984px 292px 384px;
    }
    >div:nth-child(2){
        position: absolute;
        width: 107px;
        height: 24px;
        margin: 95px 498px 537px 835px;
        color: #FFF;
        // border: 1px solid red;
        h5{
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: 4.8px;
            text-transform: uppercase;
            box-sizing: border-box;
            margin: 0;
        }
    }

    >div:nth-child(3){
        position: absolute;
        margin: 140px 337px 452px 835px;
        width: 268px;
        height: 64px;
        h2{
            color: var(--Text_White, #FFF);
            font-family: "DM Serif Display";
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px; /* 114.286% */
            margin: 0;
        }
    }
    >div:nth-child(4){
        position: absolute;
        margin: 256px 135px 352px 835px;
        input{
            width: 470px;
            height: 48px;
            margin-top: 28px;
            margin: 0;
        }
        >input::placeholder {
            padding-left: 10px;
        }
    }
    >div:nth-child(5){
        position: absolute;
        margin: 336px 135px 224px 835px;
        width: 470px;
        height: 96px;
        input{
            position: absolute;
            width: 470px;
            height: 96px;
        }
        >input::placeholder {
            padding-left: 10px;
            padding-top: 10px;
        }
    }
    >div:nth-child(6){
        position: absolute;
        margin: 480px 435px 128px 835px;
        width: 170px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: #F1B505;
        cursor: pointer;
        >h3{
            color: #FFF;
            text-align: center;
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
        }
    }
}

.whiteBottom{
    width: 1440px;
    height: 400px;
    position: relative;
    background: #f5f6fc;
    >div:nth-child(1){
        position: absolute;
        margin: 72px 1243px 296px 135px;
        width: 62px;
        height: 32px;
        // border: 1px solid #F1B505;
        h4{
            color: var(--Text_Black, #000);
            /* H4 */
            font-family: "DM Serif Display";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */
            margin: 0;
        }
    }
    >div:nth-child(2){
        position: absolute;
        margin: 127px 1035px 194px 135px;
        width: 270px;
        height: 79px;
        // border: 1px solid #F1B505;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(3){
        position: absolute;
        margin: 222px 1296px 160px 135px;
        width: 9px;
        height: 18px;
    }
    >div:nth-child(4){
        position: absolute;
        margin: 224px 1265px 161px 157px;
        width: 18px;
        height: 15px;
    }
    >div:nth-child(5){
        position: absolute;
        margin: 222px 1237px 160px 185px;
        width: 18px;
        height: 18px;
    }
    >div:nth-child(6){
        position: absolute;
        margin: 79px 847px 297px 535px;
        width: 58px;
        height: 24px;
        p{
            color: var(--Text_Black, #000);
            /* Text */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(7){
        position: absolute;
        margin: 127px 848px 249px 535px;
        width: 57px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(8){
        position: absolute;
        margin: 159px 856px 217px 535px;
        width: 48px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(9){
        position: absolute;
        margin: 191px 851px 185px 535px;
        width: 54px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(10){
        position: absolute;
        margin: 223px 852px 153px 535px;
        width: 53px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(11){
        position: absolute;
        margin: 79px 652px 297px 735px;
        width: 53px;
        height: 24px;
        p{
            color: var(--Text_Black, #000);
            /* Text */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(12){
        position: absolute;
        margin: 127px 636px 249px 735px;
        width: 69px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(13){
        position: absolute;
        margin: 159px 663px 217px 735px;
        width: 42px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(14){
        position: absolute;
        margin: 191px 656px 185px 735px;
        width: 49px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(15){
        position: absolute;
        margin: 223px 657px 153px 735px;
        width: 48px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(16){
        position: absolute;
        margin: 79px 435px 297px 934px;
        width: 51px;
        height: 48px;
        img{
            border-radius: 5px;
        }
    }
    >div:nth-child(17){
        position: absolute;
        margin: 192px 435px 160px 934px;
        width: 51px;
        height: 48px;
        img{
            border-radius: 5px;
        }
    }
    >div:nth-child(18){
        position: absolute;
        margin: 79px 135px 273px 1035px;
        width: 270px;
        height: 48px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(19){
        position: absolute;
        margin: 127px 333px 248px 1035px;
        width: 72px;
        height: 24px;
        p{
            color: var(--text-black-50,#000);
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(20){
        position: absolute;
        margin: 191px 135px 161px 1035px;
        width: 270px;
        height: 48px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(21){
        position: absolute;
        margin: 240px 333px 136px 1035px;
        width: 72px;
        height: 24px;
        p{
            color: var(--text-black-50,#000);
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    hr{
        position: absolute;
        width:1440px;
        margin: 319px 0 0 0;
    }
    >div:nth-child(23){
        position: absolute;
        margin: 347px 1168px 29px 135px;
        width: 137px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
    >div:nth-child(24){
        position: absolute;
        margin: 347px 135px 29px 1059px;
        width: 246px;
        height: 24px;
        p{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: "DM Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin: 0;
        }
    }
}



@media screen and (max-width: 375px) {
    #yellowBottom{
    width: 375px;
    height: 944px;
    background: #FFDD78;
    position: relative;
    >div:nth-child(1) {
        position: absolute;
        margin: 63px 232px 857px 14px;
        h5{color: var(--Text_Black, #000);
        /* H5 */
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin: 0;
    }
    }
    >div:nth-child(2) {
        position: absolute;
        margin: 106px 62px 742px 14px;
        h3{color: var(--Text_Black, #000);
        /* H2 */
        font-family: "DM Serif Display";
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px; /* 114.286% */
        margin: 0;
    }
    }
    >div:nth-child(3) {
        position: absolute;
        margin: 233px 15px 580px 14px;
        p{color: var(--Text_Black, #000);
        /* Text_Big */
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        margin: 0;}
    }
    >div:nth-child(4) {
        position:absolute;
        margin: 372px 15px 496px 14px;
        >input{
            margin-top: 28px;
            height: 48px;
            width: 270px;
        }
        >input::placeholder {
            padding-left: 10px;
            margin: 0;
        }
    }
    >div:nth-child(5) {
        position: absolute;
        margin: 464px 191px 432px 14px;
        width: 170px;
        height: 48px;
        border-radius: 5px;
        background-color: #444CCC;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        >h3{color: #FFF;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        }
    }
    >div:nth-child(6) {
        position: absolute;
        margin: 498px -126px -144px 144px;
        width: 885px;
        height: 590px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
    .bottomBlue{
        display: none;
    }
    .whiteBottom{
        display: none;
    }
}

// #yellowBottom1 {
//     width: 375px;
//     height: 944px;
//     background: #FFDD78;
//     position: relative;
//     >div:nth-child(1) {
//         color: var(--Text_Black, #000);
//         /* H5 */
//         font-family: "DM Sans";
//         font-size: 16px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: 24px; /* 150% */
//         letter-spacing: 4.8px;
//         text-transform: uppercase;
//         position: absolute;
        // margin: 63px 232px 857px 14px;
//     }
//     >div:nth-child(2) {
//         color: var(--Text_Black, #000);
//         /* H2 */
//         font-family: "DM Serif Display";
//         font-size: 56px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: 64px; /* 114.286% */
//         position: absolute;
        // margin: 106px 62px 742px 14px;
//     }
//     >div:nth-child(3) {
//         position: absolute;
        // margin: 233px 15px 580px 14px;
//         color: var(--Text_Black, #000);
//         /* Text_Big */
//         font-family: "DM Sans";
//         font-size: 20px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: 32px; /* 160% */
//     }
//     >div:nth-child(4) {
//         position:absolute;
        // margin: 372px 15px 496px 14px;
//         >input::placeholder {
//             padding-left: 10px;
//             margin: 0;
//         }
//     }
//     >div:nth-child(5) {
//         position: absolute;
        // margin: 464px 191px 432px 14px;
//         width: 170px;
//         height: 48px;
//         border-radius: 5px;
//         background-color: #444CCC;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         >h3{color: #FFF;
//         font-family: "DM Sans";
//         font-size: 16px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 24px;
//         margin: 0;
//         }
//     }
//     >div:nth-child(6) {
//         position: absolute;
        // margin: 498px -126px -144px 144px;
//         width: 885px;
//         height: 590px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }

// .bottomBlue{
//     width: 375px;
//     height: 656px;
//     position: relative;
//     background: #434CCC;
//     >div:nth-child(1){
//         position: absolute;
//         margin: 292px 984px 292px 384px;
//     }
//     >div:nth-child(2){
//         position: absolute;
//         width: 107px;
//         height: 24px;
//         margin: 95px 498px 537px 835px;
//         color: #FFF;
//         // border: 1px solid red;
//         h5{
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             letter-spacing: 4.8px;
//             text-transform: uppercase;
//             box-sizing: border-box;
//             margin: 0;
//         }
//     }

//     >div:nth-child(3){
//         position: absolute;
//         margin: 140px 337px 452px 835px;
//         width: 268px;
//         height: 64px;
//         h2{
//             color: var(--Text_White, #FFF);
//             font-family: "DM Serif Display";
//             font-size: 56px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 64px; /* 114.286% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(4){
//         position: absolute;
//         margin: 256px 135px 352px 835px;
//         input{
//             width: 470px;
//             height: 48px;
//             margin-top: 28px;
//             margin: 0;
//         }
//         >input::placeholder {
//             padding-left: 10px;
//         }
//     }
//     >div:nth-child(5){
//         position: absolute;
//         margin: 336px 135px 224px 835px;
//         width: 470px;
//         height: 96px;
//         input{
//             position: absolute;
//             width: 470px;
//             height: 96px;
//         }
//         >input::placeholder {
//             padding-left: 10px;
//             padding-top: 10px;
//         }
//     }
//     >div:nth-child(6){
//         position: absolute;
//         margin: 480px 435px 128px 835px;
//         width: 170px;
//         height: 48px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 5px;
//         background: #F1B505;
//         cursor: pointer;
//         >h3{
//             color: #FFF;
//             text-align: center;
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 700;
//             line-height: 24px; /* 150% */
//         }
//     }
// }

// .whiteBottom{
//     width: 375px;
//     height: 400px;
//     position: relative;
//     background: #f5f6fc;
//     >div:nth-child(1){
//         position: absolute;
//         margin: 72px 1243px 296px 135px;
//         width: 62px;
//         height: 32px;
//         // border: 1px solid #F1B505;
//         h4{
//             color: var(--Text_Black, #000);
//             /* H4 */
//             font-family: "DM Serif Display";
//             font-size: 24px;
//             font-style: normal;
//             font-weight: 500;
//             line-height: 32px; /* 133.333% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(2){
//         position: absolute;
//         margin: 127px 1035px 194px 135px;
//         width: 270px;
//         height: 79px;
//         // border: 1px solid #F1B505;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(3){
//         position: absolute;
//         margin: 222px 1296px 160px 135px;
//         width: 9px;
//         height: 18px;
//     }
//     >div:nth-child(4){
//         position: absolute;
//         margin: 224px 1265px 161px 157px;
//         width: 18px;
//         height: 15px;
//     }
//     >div:nth-child(5){
//         position: absolute;
//         margin: 222px 1237px 160px 185px;
//         width: 18px;
//         height: 18px;
//     }
//     >div:nth-child(6){
//         position: absolute;
//         margin: 79px 847px 297px 535px;
//         width: 58px;
//         height: 24px;
//         p{
//             color: var(--Text_Black, #000);
//             /* Text */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 700;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(7){
//         position: absolute;
//         margin: 127px 848px 249px 535px;
//         width: 57px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(8){
//         position: absolute;
//         margin: 159px 856px 217px 535px;
//         width: 48px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(9){
//         position: absolute;
//         margin: 191px 851px 185px 535px;
//         width: 54px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(10){
//         position: absolute;
//         margin: 223px 852px 153px 535px;
//         width: 53px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(11){
//         position: absolute;
//         margin: 79px 652px 297px 735px;
//         width: 53px;
//         height: 24px;
//         p{
//             color: var(--Text_Black, #000);
//             /* Text */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 700;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(12){
//         position: absolute;
//         margin: 127px 636px 249px 735px;
//         width: 69px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(13){
//         position: absolute;
//         margin: 159px 663px 217px 735px;
//         width: 42px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(14){
//         position: absolute;
//         margin: 191px 656px 185px 735px;
//         width: 49px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(15){
//         position: absolute;
//         margin: 223px 657px 153px 735px;
//         width: 48px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(16){
//         position: absolute;
//         margin: 79px 435px 297px 934px;
//         width: 51px;
//         height: 48px;
//         img{
//             border-radius: 5px;
//         }
//     }
//     >div:nth-child(17){
//         position: absolute;
//         margin: 192px 435px 160px 934px;
//         width: 51px;
//         height: 48px;
//         img{
//             border-radius: 5px;
//         }
//     }
//     >div:nth-child(18){
//         position: absolute;
//         margin: 79px 135px 273px 1035px;
//         width: 270px;
//         height: 48px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(19){
//         position: absolute;
//         margin: 127px 333px 248px 1035px;
//         width: 72px;
//         height: 24px;
//         p{
//             color: var(--text-black-50,#000);
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 12px;
//             font-style: normal;
//             font-weight: 700;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(20){
//         position: absolute;
//         margin: 191px 135px 161px 1035px;
//         width: 270px;
//         height: 48px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(21){
//         position: absolute;
//         margin: 240px 333px 136px 1035px;
//         width: 72px;
//         height: 24px;
//         p{
//             color: var(--text-black-50,#000);
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 12px;
//             font-style: normal;
//             font-weight: 700;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     hr{
//         position: absolute;
//         width:375px;
//         margin: 319px 0 0 0;
//     }
//     >div:nth-child(23){
//         position: absolute;
//         margin: 347px 1168px 29px 135px;
//         width: 137px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
//     >div:nth-child(24){
//         position: absolute;
//         margin: 347px 135px 29px 1059px;
//         width: 246px;
//         height: 24px;
//         p{
//             color: var(--text-black-50, rgba(0, 0, 0, 0.50));
//             /* Text_Gray */
//             font-family: "DM Sans";
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//             margin: 0;
//         }
//     }
// }